.GetPlayerSummaries {
	background-color: #b3e5fc;
	font-weight: bold;
	height: 100%;
	width: 100%;
	border: solid 2px black;
}
.GetNewsForApp {
	background-color: #bbdefb;
	font-weight: bold;
	height: 100%;
	width: 100%;
	border: solid 2px black;
}
.GetGlobalAchievementPercentagesForApp {
	background-color: #e8eaf6;
	font-weight: bold;
	height: 100%;
	width: 100%;
	border: solid 2px black;
}
.GetFriendList {
	background-color: #f9fbe7;
	font-weight: bold;
	height: 100%;
	width: 100%;
	border: solid 2px black;
}
.GetPlayerAchievements {
	background-color: #e8f5e9;
	font-weight: bold;
	height: 100%;
	width: 100%;
	border: solid 2px black;
}
.GetUserStatsForGame {
	background-color: #ccff90;
	font-weight: bold;
	height: 100%;
	width: 100%;
	border: solid 2px black;
}